<style>
  body, html {
  height: 100%;
  margin: 0;
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 31, 74, .1)), url("https://garythornton.github.io/portfolio/assets/img/posts/sing_hero.jpg");
  background-color: #001F4A;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
  
.hero-text2 {
  position: absolute;
  top: 30%;
  width: 45%;
  color: white;
  font-family: "proxima-nova",sans-serif!important;
  font-size: 40px;
}

.hero-text2 button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-tex2t button:hover {
  background-color: #555;
  color: white;
}
</style>

<body>

<div class="hero-image2">
  <div class="container">
    <img src="https://garythornton.github.io/portfolio/img/posts/hello.svg" width="527" height="207" alt="Hello">
  </div>
</div>
